*{
    font-family: "DM Sans", sans-serif;
  
}
body{
margin: 0;
padding: 1px;
}
a{
text-decoration: none;
}
center h1{
font-size: 32px;
font-weight: 600;
}
header{
display:flex;
justify-content: center;
align-items: center;
background-color: #3d405b;
width: 100%;
height: 95px;
gap: 80px;
z-index: 99;
position: fixed;
top: 0;
}
.logo{
margin-left: 30px;
display: flex;
}
.logo img{
width: 48px;
height: 48px;
}
.brand-name{
color: white;
text-align: center;
margin-top: 8px;
margin-left: 10px;
}
nav{
display: flex;
margin-left: 170px;
padding-left :40px;
gap: 40px;
}
.dropdown-content{
position: absolute;
display: none;
line-height: 2;
margin-left: 42%;
margin-top: 40px;
background-color: white;
border-radius: 10px;
padding: 10px 15px;
}
.dropdown-content a{
display: block;
color: #717275;
}
#drop:hover + .dropdown-content{
display: block;
}
header .list{
color: white;
font-size: 16px;
font-weight: 545;
}
.list:hover{
color: #f2cc8f ;
}
.list:active{
color: #f2cc8f !important;
}
.Membership-button{
margin-right: 40px;
margin-left: -50px;

}
.Membership-button .button{
padding: 10px 20px;
font-size: 14px;
border: #f2cc8f 2px solid;
border-radius: 30px ;
font-weight: bold;
color: #f2cc8f;
background-color: #3d405b;
cursor: pointer;
}
.Membership-button .button:hover{
color: white;
background-color: #f2cc8f;
}
.membership-login{
position: absolute;
display: none;
margin-top: 43.5%;
background-color: #81b29a;
margin-left: 67.9%;
width: 400px;
height: 100vh;
}
.membership-login-heading{
display: flex;
}
.membership-login-heading h2{
font-size: 23px;
margin-bottom: 45px;
font-weight: 500;
}
.cross{
margin-left: 37%;
margin-top: 5%;
color: #717275;
font-size: 25px;
transition: transform 0.5s ease;
}
.cross:hover{
/* transform: rotate(10deg); */
}
.membershiplogin-cointainer{
padding: 30px 0px 0 50px;
}
.membership-login-form label{
margin-bottom: 10px;
color:#2e2f3d;
}
.membership-login-form input{
margin: 10px 0 20px 0;
padding: 15px;
font-size: 17px;
color: #717275;
width: 80%;
border-radius: 30px;
border: none;
}
.membership-login-form input:hover{
border: black 2px solid;
}
.membership-login-checkbox{
display: inline-flex;
gap: 10px;
height: 20px;
}
.membership-login-btn-div{
margin-top: 20px;
}
.membership-login-btn{
border-radius: 20px;
padding: 10px 40px;
border: none;
font-size: 18px;
font-weight: 500;
margin-left: 90px;
color: white;
background-color: #f2cc8f;
cursor: pointer;
}
.membership-login-btn:hover{
background-color: #e07a5f;
}
.membership-login-form p{
margin-top: 20px;
margin-left: 80px;
}
.membership-login-form p a{
color: #3d405b;
}
.membership-login-form p a:hover{
color: #f2cc8f;
}
.membership-login-form h3{
color: white;
margin-top: 20px;
font-weight: 600;
}
.membership-login-footer{
position: absolute;
margin-top: 60px;
width: 100%;
height: 100%;
background-color: #3d405b;
}
.callno{
font-weight: 500;
color: #3d405b;
}
.callno:hover{
color:#f2cc8f;
}



.main{
margin-top: 95px;
}





.home{
background-image: url(home_bg_image.jpg);
background-repeat: no-repeat;
height: 85vh;
background-size: 100% 100%;
}
.container1{
padding: 80px 40px 40px 40px;
}
#container1{
height: 66.4vh;
background-color: #333d5366;
}
.container{
display: flex;
justify-content: center;
gap: 100px;
align-items: center;
margin-top: 5px;
}
.content{
margin-top: 50px;
color: #303243;
width: 500px;
height: 300px;
overflow: hidden;
border-radius: 20px;    
}
.main-heading{
color: white;
margin-top: 40px;
}
.main-heading h1{
line-height: 19px;
font-size: 40px;
font-weight: 600;
}
.main-button-row{
margin-top: 40px;
display: flex;
gap: 10px;
}
.main-button-row a{
color:white;
padding: 12px 20px;
font-size: 16px;
}
.btn-story{
background-color:#f2cc8f;
border-radius: 20px;
}
.btn-story:hover{
background-color: #e07a5f;
}
.main-button-row .member:hover{
color: #f2cc8f ;
}






.aboutus{
padding-bottom: 40px;
}
.about-container{
display: flex;
justify-content: space-between;
margin-top: 80px;
gap: 50px;
}
.about-content{
line-height: 30px;
padding-right: 80px;
}
.about-content h2{
font: 24px;
font-weight: 550;
}
.about-content p{
color:#717275;
}
.person-img img{
border-radius: 20px;
width: 250px;
height: 170px;
}
.person-img :hover{
transform: scale(1.02);
}
.person-name {
padding: 5px 10px; 
display: flex;
justify-content: space-between;

align-items: center;
}
.person-name h2{
margin-top: 0;
font-weight: 500;
}
.person-name p{
margin-top: 0;
color:#717275;
}







.message{
height: 90vh;
background-size: 100% 100%;
background-image: url(about_page.jpeg);
}
.message-container{
padding: 40px;
margin: 30px 0;
}
.message-box{
width: 470px;
height: 230px;
position: relative;
background-color:#f4f5f3d6;
border-radius: 20px;
padding: 50px;
}
.message-box h2{
margin-top: 0px;
font-size: 36px;
font-weight: bold;
color: black;
}
.message-box p{
line-height: 30px;
font-size: 18px;
color:#717275;
}
.mail-box{
display: flex;
justify-content: center;
gap: 8px;
padding: 10px;
border-radius: 35px;
background-color: white;
}
.mail-icon a{
color: black;
display: flex;
margin-top: 12px;
font-size: 25px;
}
.mail{
padding: 8px 0;
align-items: center;
}
.mail input{
width: 260px;
height: 30px;
border: white;
font-size: 18px;
outline: none;
}
.mail-btn1{
font-size: 18px;
color: white;
border: none;
font-weight: 500;
text-align: center;
background-color: #f2cc8f;
padding: 15px 25px;
border-radius: 25px;
}
.mail-btn1:hover{
background-color: #e07a5f;
}





.membership-container{
display: flex;
gap: 100px;
}
.membership-container h2{
font-weight: 500;
}
.table{
width: 570px;
border-collapse: collapse;
}
.table td,th{
padding: 20px;
}
.table th{
background-color: #3d405b;
color: white;
font-weight:bold;
}
.table th:last-child{
border-radius: 0 20px 0 0;
}
.table th:first-child{
border-radius: 20px 0px 0 0;
}
.table td{
font-weight: bold;
color: #3d405b;
}
.table tbody tr:nth-child(2n){
background-color: #f4f1de;
}
.table .table-text{
text-align: left;
}
.table td {
text-align: center;
}
#wrong{
color: #e07a5f
}
#crt{
color: #81b29a;
}
.form-contant h2{
margin-top: 0;
color: white;
}
.form-contant{
background-color: #3d405b;
border-radius: 20px;
width: 390px;
padding: 20px 40px;
}
#form1{
font-size: 15px;
border: rgb(176, 168, 168) 2px solid;
border-radius: 40px;
width: 90%;
margin: 10px 0;
padding: 15px;
}
.form-textarea{
border: rgb(176, 168, 168) 2px solid;
border-radius: 20px;
min-height: 60px;
margin-top: 10px;
padding: 20px;
font-size: 15px;
width: 87%;
}
#form1:hover{
border: black 2px solid;
}
.form-textarea:hover{
border: black 2px solid;
}
.form-btns{
padding: 0;
width: 100% !important;
font-weight: bold;
color: white;
border: none  !important;
background-color: #f2cc8f;
cursor: pointer;
}
.form-btns:hover{
background-color: #e07a5f;
}




.upcoming-events{
background-color: #f4f1de;
}
.upcoming-events h1{
font-size: 32px;
font-weight: 600;
}
.event-container{  
padding: 15px 10px;
display: flex;
flex-direction: column;
gap: 50px;
}
.event-contant{
display: flex;
height: 250px;
padding: 30px 20px;
gap: 40px;
}
.event-date{
margin-left: 15px;
text-align: center;
padding: 20px 45px;
background-color: #81b29a;
height: 80px;
line-height: 10px;
border-radius: 20px;
}
.event-date h2{
margin-top: 10px;
font-weight: 400;
font-size: 50px;
}
.event-date h3{
font-weight: 600;
line-height: 5px;
font-size: 12px;
color: white;
}
.event-img img{
border-radius: 20px;
width: 330px;
height: 200px;
position: relative;
}
.event-img img:hover {
transform: scale(1.03);
}
.event-message h2{
color: #3d405b;
margin-top: 4px;
font-weight: 600;
}
.event-message h2:hover{
color: #f2cc8f;
}
.event-message p{
margin-top: 0px;
font-weight: 500;
color:#717275;
}
.event-message-box{
line-height: 2;
border-bottom: black 1px solid;
}
.ticket-box{
padding: 15px 0 0;
display: flex;
gap:10px;
}
.ticket-btn button{
margin: 20px 0 20px 90px;
background-color: #f2cc8f;
border-radius: 20px;
color: white;
font-weight: 600;
border: none;
padding: 10px 20px;
}
.ticket-btn button:hover{
background-color: #e07a5f;
}
#event-contant{
background-color: white;
border-radius: 20px;
}




.contact{
height: 90vh; 
}
.contact h1{
font-size: 32px;
font-weight: 600;
}
.contact-container{
display: flex;
gap: 10px;
}
.form-data{
padding: 17px 20px;
border-radius: 30px;
margin: 0 10px 20px 0;
border: rgb(176, 168, 168) 2px solid;
font-size: 17px;
}
.form-data:hover{
border: black 2px solid;
}
.contact-textarea{
width: 90%;
height: 80px;
padding: 20px;
font-size: 17px;
border-radius: 20px;
border: rgb(176, 168, 168) 2px solid;
margin: 0 0 20px;
}
.contact-textarea:hover{
border: black 2px solid;
}
.contact-form-btn{
padding: 15px;
font-weight: 600;
color: white;
background-color: #f2cc8f;
border: none;
font-size: 17px;
border-radius: 30px;
width: 97%;
}
.contact-form-btn:hover{
background-color: #e07a5f;
}
.location{
margin: 0 0 0 200px;
display: flex;
flex-direction: column;
height: 150px;
width: 250px;
padding: 30px 10px;
background-image: url(map.svg);
}
.location-contant{
background-color:#3d405b;
color:white;
line-height: 15px;
margin-top: 0;
padding: 10px;
border-radius: 20px 20px 0px 0px;
}
.location-contant p{
padding: 0 15px;
}

.location-btn p{
margin: 0;
text-align: center;
width: 92%;
color: white;
height: 30px;
padding: 10px 10px;
border-radius: 0px 0px 20px 20px;
background-color:#e07a5f;
cursor:pointer;
}
.location-btn p:hover{
background-color: #f2cc8f;
;
}






.foot{
height:70vh ;
}
.foot-contant{
display: flex;
margin: 50px 0 0 30px;
gap: 40px;
}
.foot-logo{
margin-top: 0;
display: flex;
gap: 10px;
padding: 0 390px 0 0;
}
.foot-image img{
width: 48px;
height: 48px;
}
.foot-name{
line-height: 1px;
margin: 0;
}
.foot-name h2{
margin-top: 13px;
font-weight: 600;
color: #000000;
font-size: 30px;
}
.foot-name p{
margin-top: 0;
font-weight: 600;
font-size: 12px;
}
.join-us{
width: 285px;
}
.join-us h2{
color: #3d405b;
margin: 0;
font-size: 25px;
}
.forline{
border-bottom:#7172757f 1px solid;
width: 89%;
}
.join-us p{
font-size: 18px;
color: #717275;
}
.social-icons{
padding: 50px 30px 20px 30px;
display: flex;
}
.social-icons a{
background-color: #3d405b;
border-radius: 50%;
font-size: 18px;
margin: 0 8px;
}
.social-icons a i{
color: white;
padding: 10px;
}
.social-contant p{
font-size: 18px;
margin: 0 0 0 43px;
}



.last-footer{
height: 20vh;
background-color: #81b29a;
}